.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.submit {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 2vh;
  &headerla {
    text-align: center;
    margin-top: 0.83em;
    h2 {
      margin: 0;
    }
  }
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.submission {
  &-title {
    margin-top: 20px;
  }
}
.gatha-div {
  &-container{
    display: flex;
    justify-content: space-evenly;
  }
  &-margin {
    margin-top: 2vh;
  }
  &-discription{
    width: 100%;
    margin: 2vh;
  }
}