.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.submit {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 2vh;
  &headerla {
    text-align: center;
    margin-top: 0.83em;
    h2 {
      margin: 0;
    }
  }
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-container {
  &.colum {
    flex-direction: column;
    align-items: center;
    div {
      margin: 10px 0px;
    }
  }
  &.space-even {
    width: 100%;
    justify-content: space-evenly;
  }
  .border {
    border: 1px solid #e0e0e0;
    padding: 10px;
  }
}
.submission {
  &-title {
    margin-top: 20px;
  }
}
.gatha-div {
  &-container {
    display: flex;
    justify-content: space-evenly;
  }
  &-margin {
    margin-top: 2vh;
  }
  &-discription {
    width: 100%;
    margin: 2vh;
  }
}
.points-structure-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  .points{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 15px 0px;
    .tasks{
      border: 1px solid #948f8f;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 50%;
    }
    .sutra{
      border: 1px solid #948f8f;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 50%;
    }
  }
}