<div class="full-height">
    <mat-tab-group class="flex-container mat-primary" mat-align-tabs="center" backgroundColor="primary" (swipe)="swipe('left')" [selectedIndex]="selected" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">
      <mat-tab label="Profile">
          <div class="tab-background">
            <app-profile></app-profile>
          </div>
      </mat-tab>
      <mat-tab label="Overview">
  
        <ng-template matTabContent>
          <app-points-over-view></app-points-over-view>
        </ng-template>
      </mat-tab>
      <mat-tab label="Third">
       <app-submit-points></app-submit-points>
      </mat-tab>
    </mat-tab-group>
  </div>