<div class="full-height">
  <mat-tab-group class="flex-container" mat-align-tabs="center">
    <mat-tab label="Profile">
      <ng-template matTabContent>
        <div class="tab-background">
          <app-profile></app-profile>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Overview">

      <ng-template matTabContent>
        Content 2
      </ng-template>
    </mat-tab>
    <mat-tab label="Third">
      <ng-template matTabContent>
        Content 3
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>