.profilename {
  font-size: 22px;
  margin: 2vh;
}
.unique-id {
  margin: 1vh;
  color: green;
  font-weight: bold;
  font-size: 18px;
}
.main {
  flex-direction: column;
  align-items: center;
}
.card-margin {
  margin: 1vh;
}
.float {
  &-right {
    float: right;
  }
  &-left {
    float: left;
  }
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.whatspp-icon{
  &-size{
    width: 5vh;
    height: 5vh;
  }
  margin-right: 2vh;
}
.mat-raised-button{
  padding: 10px 16px;
}
.task{
  .profilename{
    font-weight: bold;
  }
  &.border{
    box-sizing: border-box;
    border: 1px solid;
  }
  &-list{
    font-size: 1rem;
    width: 100%;
    .daily{
      margin: 10px;
    }
    .weekly{
      margin: 10px;
    }
    .header{
      display: inline-block;
      width: 35%;
      font-weight: 500;
    }
    .details{
      display: inline-block;
      width: 65%;
    font-size: 12px;
    }
  }
}