<mat-card class="card-margin">
    <div class="flex-container main">
        <div class="profilename">
            <span>Shah Keyur Rajeshkumar</span>
        </div>
        <div class="unique-id">
            <span>UNIQUE-ID:TEST-1121</span>
            <!-- <br><span>Please Note Your Unique ID</span> -->
        </div>
        <mat-list style="width: 100%;">
            <div *ngFor="let item of profileDetailsKeys; let i = index">
                <div class="flex-container">
                    <div class="mat-list-item mat-focus-indicator float-right">
                        <div class="mat-list-item-content">
                            {{item}}
                        </div>
                    </div>
                    <div class="mat-list-item mat-focus-indicator float-right">
                        <div class="mat-list-item-content float-right">
                            {{profileDetails[item]}}
                        </div>
                    </div>
                </div>
                <mat-divider [inset]="true"></mat-divider>
            </div>
        </mat-list>
        <div>
            Shree Param Aanand Jain Sangh
        </div>
    </div>
</mat-card>